@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 mb-2">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Introducing SGSMTube</h3>
                    <p class="card-text">
                        Welcome to SGSMTube, your personal video download companion! With SGSMTube, you can easily download your favorite videos from the web and keep them safe for offline viewing, without the hassle of ads or intrusive registrations.
                    </p>
                    <a class="btn btn-primary" asp-page="/SearchVideo">Let&lsquo;s get started!</a>
                </div>
            </div>
        </div>
        @foreach (var item in Model.Titles)
        {
            <div class="col-sm-6 col-lg-4">
                <div class="card mb-2">
                    <div class="card-body">
                        <h5 class="card-title">
                            @item.Key
                        </h5>
                        <p class="card-text" style="text-align:justify">
                            @item.Value
                        </p>
                    </div>
                </div>
            </div>
        }
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">
                        Ready to start saving your favorite videos? Visit SGSMTube today and discover the joy of effortless video downloads!
                    </p>
                    <a class="btn btn-primary" asp-page="/SearchVideo">Let&lsquo;s get started!</a>
                </div>
            </div>
        </div>
    </div>
</div>
