@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-left">
    <h1 class="display-4">Introducing SGSMTube</h1>
    <p>
        Welcome to SGSMTube, your personal video download companion! With SGSMTube, you can easily download your favorite videos from the web and keep them safe for offline viewing, without the hassle of ads or intrusive registrations.
    </p>
    <p>
        <h3>
            Effortless Video Downloads:
        </h3> SGSMTube simplifies the process of downloading videos from the web. Just paste the video URL into our user-friendly interface, choose your preferred quality, and download with a single click.
    </p>
    <p>
        <h3>Tailored Download Options:</h3> Customize your download experience with SGSMTube. Select the resolution and format that best suit your needs, ensuring that your videos are exactly how you want them.
    </p>

    <p>
        <h3>Fast and Reliable Performance:</h3> Enjoy lightning-fast download speeds and reliable performance with SGSMTube. Our advanced technology ensures that your videos are downloaded quickly and securely, so you can start watching in no time.
    </p>
    <p>
        <h3>No Ads, No Registrations:</h3> Say goodbye to annoying ads and intrusive registrations. SGSMTube is completely ad-free and does not require any registrations. Your privacy is important to us, and we believe in keeping your experience simple and hassle-free.
    </p>
    <p>
        <h3>Privacy Guaranteed:</h3> Rest assured that your privacy is protected with SGSMTube. We never collect or share your personal information with third parties, ensuring that your data remains safe and secure.
    </p>
    <p>
        Ready to start saving your favorite videos? Visit SGSMTube today and discover the joy of effortless video downloads!
    </p>
</div>
