@page
@model SGSMTube_Web.Pages.YoutubeToMp3Model
@{
    ViewData["Title"] = "Youtube Video to MP3 Downloader";
}

<div class="text-center">
    <h2>SGSMTube - Youtube Video to MP3 downloader</h2>
    <a asp-page="/YoutubeToMp3" asp-route-download="true">Download Now</a>

</div>